body, div, p, ul, li, h1, img {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
* {
    box-sizing: border-box;
}
header {
    height: 80px;
    background-color: #333331;
    color: #D8D8D8;
    font-weight: bold;
    line-height: 80px;
    font-size: 13px;
}
header>nav{
    display: inline-block;
}
header>nav>ul>li {
    display: inline-block;
    margin: 0 20px;
}
header>div {
    display: inline-block;
    padding: 0 250px;
}
/******************************************** FIRST COINTANER *********************************************/
.sctn-first-cntr {
    background-color: #700;
}
.image-parent {
    width: 50%;
    float: left;
    text-align: right;
}
.section-image {
    margin: 20px 100px 0 0px;
    width: 350px;
}
.intro-parent {
    float: left;
    width: 50%;
    color: white;
}
.intro-parent-cntr {
    padding-left: 5%;
}
.intro-parent-cntr>h1 {
    padding-top: 100px;
    font-weight: normal;
    font-size: 40px;
}
h1>span {
    display: block;
}
.sctn-bold-name {
    font-weight: bold;
}
.intro-parent-cntr>p {
    padding-top: 20px;
    font-size: 14px;
}
.intro-parent-cntr>a {
    margin-top: 30px;
    position: absolute;
    color: white;
    text-decoration: none;
    background-color: #333331;
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;    
}
.intro-parent-cntr>a>span {
    padding: 0 10px;
}
/********************************************* SECOND COINTANER *********************************************/
.sctn-second-cntr {
    height: auto;  
    padding-bottom: 80px;
}
.second-cntr-left {
    float: left;
    width: 50%;
    text-align: center;
}
.shorty {
    width: 155px;
    text-align: left;
    margin: 0 auto;
    padding-top: 80px;
}
.about-me {
    font-size: 40px;
    font-weight: bold;
    display: inline;
}
.second-cntr-right {
    float: left;
    width: 50%;
}
.upside-text {
    width: 60%;
    padding-left: 5%;
    padding-top: 80px;
    font-size: 14px;
    line-height: 22px;
}
.downside-text {
    width: 60%;
    padding-left: 5%;
    padding-top: 30px;
    font-size: 14px;
    line-height: 22px;
}
.sctn-third-cntr {
    height: auto;
    background-color: #C8C8C8;
    padding-bottom: 80px;
}
.sctn-third-cntr>.received {
    text-align: center;
    padding-top: 80px;
}
.sctn-third-cntr>.skills {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
}
/********************************************* THIRD COINTANER *********************************************/
.third-cntr-left {
    float: left;
    width: 50%;
}
.left-cntr {
    padding-top: 30px;  
    width: 60%;
    margin-left: 35%;
}
.left-cntr>p {
    display: inline;
}
.left-para {
    float: left;
}
.right-para{
    float: right;
}
.left-up-line {
    margin-top: 6px;
    width: 100%;
    height: 8px;
    background-color: #989898 ;
    border-radius: 8px;
    float: left;
}
.left-up-percent {
    width: 50%;
    height: 8px;
    background-color: #428bca;
    border-radius: 8px;
}
.skills-text{
    float: left;
    padding-top: 20px;
    font-size: 13px;
    line-height: 20px;
}
.left-down-line {
    margin-top: 6px;
    width: 100%;
    height: 8px;
    background-color: #989898 ;
    border-radius: 8px;
    float: left;
}
.left-down-percent {
    width: 60%;
    height: 8px;
    background-color:  #00cc7a;
    border-radius: 8px;
}
.third-cntr-right {
    float: left;
    width: 50%;
}
.right-cntr {
    padding-top: 30px;  
    width: 60%;
    margin-left: 5%;
}
.right-up-line {
    margin-top: 6px;
    width: 100%;
    height: 8px;
    background-color: #989898;
    border-radius: 8px;
    float: left;
}
.right-up-percent {
    width: 70%;
    height: 8px;
    background-color: green;
    border-radius: 8px;
}
.right-down-line {
    margin-top: 6px;
    width: 100%;
    height: 8px;
    background-color: #989898 ;
    border-radius: 8px;
    float: left;
}
.right-down-percent {
    width: 30%;
    height: 8px;
    background-color: #700;
    border-radius: 8px;
}
/********************************************* FOURTH  COINTANER *********************************************/
.sctn-fourth-cntr {
    margin: 0 17.5%;
    padding-bottom: 80px;
}
.sctn-fourth-cntr>.professional {
    padding-top: 80px;
}
.sctn-fourth-cntr>.experience {
    font-size:40px;
    font-weight: bold;
    padding-bottom: 80px;
}
.fourth-cntr-left {
    width: 25%;
    padding: 30px 0;
    float: left;
}
.fourth-leftup-side {
    padding: 20px 0 0 0;
}
.fourth-leftup-side>span {
    display: block;
    padding-top: 3px;
}
.fourth-leftdo-side {
    padding-top: 185px;
}
.fourth-leftdo-side>span {
    display: block;
    padding-top: 3px;
}
.fourth-cntr-right {
    float: left;
    width: 75%;
}
.left-upside {
    width: 100%;
    height: auto;
    background-color: #C8C8C8;
    border-radius: 8px;
    padding: 25px;
}
.left-downside {
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: #C8C8C8;
    border-radius: 8px;
    padding: 25px;
}
.box-left-up {
    float: left;
    width: 70%;
}
.box-left-down {
    float: left;
    width: 70%;
}
.list-right-up {
    float: left;
    width: 30%;
    list-style: none;
}
.list-right-down {
    float: left;
    list-style: none;
    width: 30%;
}
.list-right-up>ul>li {
    list-style: none;
    font-size: 11px;
    padding: 5px 0;
}
.list-right-up>ul>li>span {
    color: #700;
    padding-right: 10px;
}
.list-right-down>ul>li {
    list-style: none;
    font-size: 11px;
    padding: 5px 0;
}
.list-right-down>ul>li>span {
    color: #700;
    padding-right: 10px;
}
.fourth-text {
    width: 50%;
    font-size: 11px;
    line-height: 18px;
}
.company-name {
    color: #700;
    padding-bottom: 4px;
}
.front-end-dev {
    padding-bottom: 30px;
}
/********************************************* Section Fifth - MY EDUCATION *********************************************/
.sctn-fifth-cntr {
    background-color:#C8C8C8;
    padding-bottom: 80px;
}
.sctn-fifth-my {
    padding-top: 80px;
    text-align: center;
}
.education {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 80px;
}
.sctn-fifth-left {
    float: left;
    width: 50%;
}
.educ-left-cntr {
    width: 65%;
    margin-left: 35%;
}
.sctn-fifth-right{
    float: left;
    width: 50%;
}
.educ-right-cntr {
    width: 65%;
    margin-right: 35%;
}
.left-cntr-left {
    float: left;
    width: 30%;
}
.left-cntr-left>.year {
    font-size: 40px;
    color: #700;
}
.left-cntr-right {
    float: left;
    width: 70%;
}
.left-cntr-right>div {
    padding-right: 10%;
}
.degree {
    font-weight: bold;
}
.school-name {
    font-size: 14px;
    padding: 3px 0 25px 0;
}
.school-text {
    font-size: 13px;
    line-height: 22px;
}
.right-cntr-left>.year {
    font-size: 40px;
    color: #700;
}
.right-cntr-left {
    float: left;
    padding-left: 5%;
    width: 30%;
}
.right-cntr-left>.year {
    font-size: 40px;
    color: #700;
}
.right-cntr-right {
    float: left;
    width: 70%;
}
.right-cntr-right>div {
    padding-right: 10%;
}
.right-cntr-left>.year {
    font-size: 40px;
}
/********************************************* SIXTH container - images *********************************************/
.sctn-sixth-cntr {
    padding: 0 17.5% 80px;
    background-color: 		#383838 ;
}
.sctn-sixth-cntr>.implemented {
    padding-top: 80px;
    color: white;
}
.sctn-sixth-cntr>.projects {
    padding-bottom: 80px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.images-parent>img {
    border-radius: 4px;
    width: 24%;
    height: auto;
    margin: 0.5%;
    display: block;
    float: left;
}
/*********************************************   SEVENTH container - form *********************************************/
.sctn-seventh-cntr {
    background-color:#C8C8C8;
    height: auto;
    padding: 80px 17.5% 30px;
}
.sctn-sevent-left{
    float: left;
    width: 30%;
}
.contact {
    padding-bottom: 30px;
}
.sctn-sevent-left>ul>li {
    list-style: none;
    padding: 8px 0;
    font-size: 14px;
}
.sctn-sevent-left>ul>li>span {
    padding-right: 20px;
    color: #700;
}
.sctn-sevent-right{
    float: left;
    width: 70%;
}
.ask {
    padding-bottom: 30px;
}
.name {
    width: 49%;
    border-radius: 5px;
    border: 0;
    padding: 10px 5px;
    float: left;
}
.email {
    width: 49%;
    border-radius: 5px;
    border: 0;
    padding: 10px 5px;
    float: left;
    margin-left: 2%;
}
.message {
    margin-top: 15px;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: 0;
    padding: 10px 5px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:     black;
}
.send-btn {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    float: right;
    margin-top: 20px;
    background-color: black;
    color: white;
}
/********************************************* FOOOOTER *********************************************/
footer {
    background-color: #700;
    height: auto;
    padding: 20px 17.5%;
    color: white;
}
.foot-website {
    font-size: 14px;
}
.foot-website {
    float: left;
}
.foot-socials {
    float: right;
}
.foot-socials>span {
    padding: 0 10px;
}









.triagle {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid #700;
	border-bottom: 15px solid transparent;
    float: right;
    margin-top: -60px;
}