body, div, p, ul, li, h1 {
    margin: 0;
    padding: 0;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
* {
    box-sizing: border-box;
}
.wrapper {
    width: 300px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -201px;
    margin-left: -150px;
}
.game {
    width: 300px;
    height: 300px;
    position: relative;
}
.count-number {
    padding-top: 20px;
}
.scores {
    padding-top: 15px;
}
button {
    color: white;
    text-decoration: none;
    background-color: seagreen;
    padding: 14px 35px;
    border-radius: 4px;
    font-size: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    border: 0;
    margin-top: 20px;
}
.game-box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
    float: left;
}
.game-over {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    float: left;
}
.game-styled {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    float: left;
}