body, div, p, ul, li, h1 {
    margin: 0;
    padding: 0;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
header {
    height: 80px;
    background-color: #333331;
    color: #D8D8D8;
    font-weight: bold;
}
header>div {
    display: inline-block;
    line-height: 80px;
    padding: 0 15%;
}
header>nav {
    display: inline-block;
    line-height: 80px;
}
.first-nav-child {
    display: inline;
    margin: 0 20px;
}
.sctn-first-cntr {
    height: 300px;
    background-color: #700;
    text-align: center;
    position: relative;
}
h1 {
    height: auto;
    font-size: 50px;
    color: #B0B0B0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -233px;
    font-weight: normal;
}
.sctn-next-row {
    display: block; 
}
.sctn-white-name {
    color: white;
    font-weight: bold;
}
.sctn-first-cntr>p {
    color: white;
    padding-top: 200px;
    font-size: 18px;
}
.sctn-second-cntr {
    height: 550px;
    background-color: white;
}
.sctn-second-cntr>p {
    text-align: center;
}
.sctn2-shortly {
    padding: 70px 0 0 0;
}
.sctn2-about {
    color: #700;
    font-size: 40px;
    font-weight: bold;
}
.sctn2-first-cntr {
    float: left;
    width: 50%;
    position: relative;
}
.papa {
    padding-left: 40%;
    padding-top: 50px;
}
.papa>div>span {
    color: #700;
    text-decoration: underline;
}
.sctn2-first-cntr>div>p {
    width: 450px;
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 25px;
}
.sctn2-first-cntr>div>div {
    width: 445px;   
    font-size: 15px;
    line-height: 25px;
}
.sctn2-first-cntr>div>span {
    color: #700;
    text-decoration: underline;
}
.sctn2-second-cntr {
    float: left;
    width: 50%;
}
.sctn2-second-cntr>ul {
    margin: 50px 70px;
}
.sctn2-second-cntr>ul>li {
    color: #700;
    padding: 8px 0;
}
.sctn2-second-cntr>ul>li>span {
    color: black;
}
footer {
    height: 80px;
    background-color: #556971;
    color: white;
}
.second-nav-child {
    display: inline;
}
footer>nav {
    float: left;
    line-height:80px;
    width: 70%;
}
footer>nav>ul {
    margin-left: 28%;
}
footer>nav>ul>li {
    margin: 0 8px;
    font-size: 11px;
}
.secnav-first-child {
    margin-left: 0 !important;
}
footer>.foot-email-cntr {
    float: left;
    line-height:80px;
    width: 30%;
}