body, div, p, ul, li, h1 {
    margin: 0;
    padding: 0;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
* {
    box-sizing: border-box;
}
.program {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -190px;
}
a {
    color: white;
    text-decoration: none;
    background-color: #cc5200;
    padding: 14px 35px;
    border-radius: 4px;
    font-size: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
}